bin/
gen/
out/
aidls/gen/
code/gen/
IntegrationTests/gen/
.idea/workspace.xml
.idea/dictionaries/
.idea/libraries/
*.ipr
*.iws
*.iml
*.classpath
*.project
.settings/*
.DS_Store
local.properties
emulator15SdCard.*
temp.json
temp.xml
temp.txt
tmp/
target/