<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.pivotallabs"
          android:versionCode="1"
          android:versionName="1.0">
    <application
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light"
            >
        <activity android:name="MyActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-sdk android:minSdkVersion="3"/>
    <!-- we test and support sdk 3 (android 1.5) but we need to build with sdk4 (android 1.6) to get support for alternate resources
     (e.g. hi- vs. lo-res versions of the same drawable) -->
    <uses-sdk android:targetSdkVersion="4"/>
</manifest> 
