<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.pivotallabs"
          android:versionCode="1"
          android:versionName="1.0">
    <application
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:icon="@drawable/app_icon"
            android:name=".injected.SampleGuiceApplication"
            >
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".NamesActivity"/>
        <activity android:name=".tracker.RecentActivityActivity"/>
        <activity android:name=".injected.InjectedActivity"/>
    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-sdk android:minSdkVersion="3"/>
    <!--  test and support sdk 3 (android 1.5) but build with sdk4 (android 1.6) to get support for alternate resources
     (e.g. hi- vs. lo-res versions of the same drawable) -->
    <uses-sdk android:targetSdkVersion="4"/>
</manifest>
